.course-list {
	margin: 0 30px;
	.Header {
		margin-bottom: 53.95px;
	}
	.cl-title {
		font-size: 12px;
		font-weight: var(--bold-font);
		margin-bottom: 12.48px;
	}
	.cl-btn-group {
		margin-bottom: 16px;
		display: flex;
		flex-direction: row;
		position: relative;
		gap: 8px;
		.btn {
			height: 23px;
			&.text-btn {
				padding: 4px 12px;
				border: 1.5px solid var(--black-color);
			}
			&.default {
				position: absolute;
				right: 0;
				img {
					width: 110%;
				}
			}
		}
		.sbtn-wrapper {
			width: auto;
			.select-btn {
				padding: 5px 7px 5px 12px;
				border: 1.5px solid var(--black-color);
				width: 70px;
				height: 23px;
				.sbtn-drop-down {
					width: 13px;
					height: 13.252px;
					margin-left: 5px;
				}
			}
			.sbtn-content {
				left: -10px;
			}
		}
		.cl-location {
			display: inline-flex;
			height: 23px;
			padding: 5.897px 12.974px 5.897px 17.103px;
			justify-content: center;
			align-items: center;
			border-radius: 58.974px;
			border: 1.5px solid var(--black-color);
			background: var(--back-color);
			font-size: 10px;
			font-weight: 700;
			.cl-x-btn {
				width: 5.897px;
				height: 5.897px;
				margin-left: 5.9px;
				cursor: pointer;
				font-weight: 800;
			}
		}
	}
	.lv-body {
		position: relative;
		z-index: -999;
		.lv-box-group {
			gap: 20px;
		}
	}
}
