.MonthCourse {
    .challengetitle {
        font-size: 12px;
        font-weight: bold;
        margin-top: 53.95px;
        margin-bottom: 7.48px;
    }
    .monthchallengecontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .archivetitle {
        font-size: 12px;
        font-weight: bold;
        margin-top: 76px;
        margin-bottom: 11px;
    }
    .archivebuttoncontainer {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        margin-bottom: 9px;
    }
    .archiveboxcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-around;
        justify-items: center;
        row-gap: 20px;
        height: 550px;
    }
    .arrowbuttoncontainer {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 5px;
        margin-top: 16px;
        
    }
}