.MonthCourse {
    .pagetitle {
        font-size: 12px;
        font-weight: bold;
        margin-top: 53.95px;
        margin-bottom: 7.48px;
    }
    .monthchallengecontainer {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }
}