.archive-box {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 616px;
    height: 244px;
    border-radius: 20px;
    border: 1.721px solid var(--black-color);
    display: flex;
    align-items: center;
  
    .archive-content {
      display: flex;
      flex-direction: column;
      position: relative;
  
      .archive-icon {
        position: absolute;
        font-size: 13px;
        font-weight: var(--bold-font);
      }
  
      .archive-date,
      .archive-text,
      .archive-difficulty{
        position: absolute;
        font-size: 10px;
      }
  
      .archive-icon img {
        width: 100%;
        height: 100%;
      }
    }
    /* 추가된 서울 박스 스타일 */
  .seoul-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    border-color : black;
    border: 2px solid var(--black-color);
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;
  }
  }
  
