.btn-body {
	.btn {
		background-color: var(--back-color);
		border-radius: 32px;
		border: 1.5px solid var(--black-color);
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--black, #272d35);
		&.default {
			width: 37px;
			height: 37px;
			img {
				width: 100%;
				height: 100%;
				margin: 20px;
				object-fit: cover;
			}
		}
		&.more {
			width: 26.462px;
			height: 26.975px;
			img {
				width: 8.01px;
				height: 100%;
				object-fit: cover;
				margin: 10px;
			}
		}
		&.level {
			display: inline-flex;
			padding: 10px 29px;
			border-radius: 100px;
			border: 2px solid var(--black-color);
			font-size: 16px;
			font-weight: 700;
		}
		&.arrow {
			width: 26.462px;
			height: 26.975px;
			img {
				width: 16.45px;
				height: 16.769px;
			}
		}
		&.text-more {
			width: 48px;
			height: 24px;
			// border-radius: 100px;
			border: 2px solid var(--black-color);
			font-size: 10px;
			font-weight: 700;
		}
		&.acting {
			width: 37px;
			height: 37px;
			img {
				width: 24px;
				height: 24px;
			}
			&:hover,
			&:active {
				width: auto;
				height: auto;
				display: inline-flex;
				border-radius: 20px;
				border: 1.5px solid var(--black-color);
				padding: 9px 20px;
				img {
					display: none !important;
				}
				span {
					display: block !important;
					font-size: 11px;
					font-weight: 600;
					width: 29px;
				}
			}
		}
		&:hover {
			background-color: var(--hover-color);
		}
		&:active {
			background-color: var(--green-color);
		}
	}
}
