.crb-body {
	font-size: 11px;
	width: 403px;
	// height: 424.124px;
	border-radius: 17.206px;
	border: 1.721px solid var(--black-color);
	.crb-img {
		position: relative;
		width: 403px;
		height: 234.86px;
		.crb-map-img {
			border-bottom: 1.721px solid var(--black-color);
			width: 403px;
			height: 234.86px;
			border-radius: 17.206px 17.206px 0px 0px;
		}
		.crb-district {
			position: absolute;
			top: 18.07px;
			left: 20.89px;
			width: 57.447px;
			height: 28.029px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 17.206px;
			border: 1.721px solid var(--black-color);
			background: var(--green-color);
		}
	}
	.crb-text {
		position: relative;
		height: 146.265px;
		margin: 16.35px 20.89px 20.65px 20.89px;
		font-weight: var(--semibold-font);
		.crb-title {
			font-size: 13px;
			margin-bottom: 11px;
		}
		.crb-date {
			margin-bottom: 5px;
		}
		.crb-rating {
			margin-bottom: 14px;
		}
		.crb-content {
			margin-bottom: 7.65px;
			height: 41px;
		}
		.crb-btn-group {
			display: flex;
			position: absolute;
			bottom: 0;
			right: 0;
			Button {
				margin-left: 8.7px;
			}
		}
	}
}
