.ChallengeColumnBox {
    width: 280px;
    height: 573px;
    border: 1.75px solid black;
    border-radius: 17px;
    .mapimagebox {
        width: 100%;
        height: 219.74px;
        border-bottom: 1px solid black;
        position: relative;
        border-radius: 17px 17px 0px 0px;
        overflow: hidden;
        .citybox {
            background-color: #5d8e5f;
            padding-left: 11.96px;
            padding-right: 11.96px;
            padding-top: 4.21px;
            padding-bottom: 4.21px;
            border-radius: 17px;
            border: 1.72px solid black;
            font-size: 9px;
            font-weight: 600;
            position: absolute;
            top: 12.52px;
            left: 14.52px;
        }
        .mapimage {
            width: 100%;
            height: 100%;
        }
    }
    .challengeinfo {
        padding-left: 14.52px;
        padding-right: 14.52px;
        padding-top: 14.74px;
        padding-bottom: 14.74px;
        .coursetitle {
            font-size: 13px;
            font-weight: 600;
            margin: 0;
            margin-bottom: 13.88px;
        }
        .date {
            font-size: 10px;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 5px;
        }
        .level {
            font-size: 10px;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 5px;
        }
        .courseinfobox {
            height: 57.17px;
            margin-top: 11px;
            .courseinfo {
                font-size: 10px;
                font-weight: 600;
                margin: 0;
                line-height: 15px;
            }
            .buttoncontainer {
                display: flex;
                justify-content: flex-end;
                column-gap: 8.7px;
                //margin-top: 15px;
                Button {
                    img {
                        width: 150%;
                    }
                }
            }
        }
        .checkpointheader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 4px;
            .checkpointtitle {
                margin: 0;
                font-size: 11px;
                font-weight: 600;
            }
            .morebutton {
                width: 42px;
                height: 20px;
                border: 1.5px solid black;
                border-radius: 100px;
                font-size: 8px;
                font-weight: bold;
                background-color: var(--back-color);
            }
            .morebutton:hover {
                cursor: pointer;
            }
        }
        .checkpointcontainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .arrowbuttoncontainer {
            display: flex;
            flex-direction: row;
            column-gap: 4.57px;
            justify-content: center;
            margin-top: 7px;
            Button {
                img {
                    width: 200%;
                }
            }
        }
    }
}

.CheckPoint {
    .checkpointimagebox {
        width: 115.88px;
        height: 115.88px;
        border: 1.5px solid black;
        border-radius: 20px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
    .checkpointname {
        margin: 0;
        margin-top: 10px;
        font-size: 10px;
        font-weight: bold;
        padding-left: 3px;
    }
    .checkpointplace {
        margin: 0;
        margin-top: 3.8px;
        font-size: 9px;
        font-weight: 600;
        padding-left: 3px;
    }
}