  .DrawBox {
    .imagecontainer {
      width: 208px;
      height: 208px;
      border: 1px solid var(--black-color);
      border-radius: 14.7px 14.7px 0 0;
      position: relative;
      .nicknamebox {
        display: flex;
        flex-direction: row;
        column-gap: 7px;
        align-items: center;
        position: absolute;
        bottom: 7.59px;
        right: 7.87px;
        .nickname {
          font-size: 8px;
          font-weight: bold;
        }
        .sdb-user-profile-img {
          width: 20.35px;
          height: 20.35px;
        }
      }
    }
    .reviewcontainer {
      width: 208px;
      height: 114.42px;
      border: 1px solid var(--black-color);
      border-top: none;
      border-radius: 0 0 14.7px 14.7px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      padding-right: 16px;
      .satisfactioncontainer {
        display: flex;
        flex-direction: row;
        .satisfaction {
          font-size: 10px;
          font-weight: 600;
          margin-right: 5px;
        }
      }
      .reviewtext {
        font-size: 10px;
        margin-top: 7px;
        line-height: 13px;
      }
    }
  }
  
