.Footer {
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	background-color: var(--back-color); 
	//padding: 20px; 
}
  
.Footer img {
	width: 33.75;
	height: 19.69px;
	margin-top: 43.59px;
	//margin-bottom: 50px;
}
  
.Footer .footer-content {
	display: flex;
	align-items: center;
}
  
.Footer .footer-item {
	margin-right: 1px; 
	font-size: 3px;
	display: flex;
	align-items: center;
	column-gap: 10px;
}
  
// .Footer .footer-item:not(:last-child) {
// 	margin-right: 10px; 
// }
  
.Footer .footer-content {
	flex-direction: row;
	margin-top: 12.43px; 
	margin-bottom: 23.17px;
}

  