.Header {
	.head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 75.22px;
		background-color: var(--back-color);
		&__left {
			display: flex;
			align-items: flex-end;
			&__logo {
				width: 81.46px;
				height: 47.83px;
				margin-right: 10px;
			}
			&__nav {
				display: flex;
				align-items: center;
		
				&__item {
					margin-right: 5px;
					cursor: pointer;
					padding: 7px 9px;
					font-size: 12px;
					font-weight: bold;
				}
			}
		}
		&__right {
			display: flex;
			align-items: flex-end;
			height: 48px;
			&__icon {
				width: 20px; 
				height: 20px;
				margin-right: 20px;
				padding-bottom: 4px;
				cursor: pointer;
			}
			&__nav {
				&__item {
					cursor: pointer;
					font-size: 12px;
					font-weight: bold;
					padding-bottom: 7px;
					cursor: pointer;
				}
			}
		}
	}
}